APP_NAME=FinFoco
APP_ENV=production
APP_KEY=base64:GERE_COM_php_artisan_key_generate_NA_HOSTINGER
APP_DEBUG=false
APP_URL=https://finfoco.nexialabs.com.br

APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=pt_BR
APP_FAKER_LOCALE=pt_BR

LOG_CHANNEL=single
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=finfocoDB
DB_USERNAME=finfocoUser
DB_PASSWORD=Fla91681@

CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

MAIL_MAILER=log
